.git
.github
.gitignore
.dockerignore
README.md
LICENSE
.env
.env.*
.admin-password
__pycache__/
*.pyc
*.log
tests/
pyproject.toml
requirements-dev.txt
.venv/
.ruff_cache/
.pytest_cache/
.idea/
.vscode/
